@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Comfortaa|Itim');


.App-header, footer {
    background-color: #212226;
    height: 80px;
    padding: 45px;
    color: white;
    text-align: center;
}

body{
    margin: 0;
}
.ExerciseType:after {
    content: "";
    display: table;
    clear: both;
}

#exercise-picture {
    float: right;
}
