@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Comfortaa|Itim');

.App-header, footer {
    background-color: #212226;
    height: 80px;
    padding: 45px;
    color: white;
    text-align: center;
}

body {
    margin: 0;
}

#exercise-picture {
    float: right;
}
.ExerciseType{
    transition: transform 200ms ease-in-out;
}
.ExerciseType:after {
    content: "";
    display: table;
    clear: both;
}
.ExerciseType:active {
    -webkit-transform: translate(-50%)
}
