@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Comfortaa|Itim');

.App {
    text-align: center;
}

.App-world {
    animation: App-logo-spin infinite 100s linear;
    height: 100px;
}

.App-header {
    background-color: #212226;
    height: 150px;
    padding: 50px;
    color: white;
}

.App-title {
    font-size: 1.1em;
}

.App-body {
    width: auto;
    background-color: grey;
}

.ExerciseType:after {
    content: "";
    display: table;
    clear: both;
}

#exercise-picture {
    float: right;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

